// FONT
$Font-size: 14px;

$montserrat:'Montserrat', sans-serif;
// [Montserrat](https://fonts.google.com/specimen/Montserrat)
// - Weights: 500, 700;

$fraunces: 'Fraunces', serif;
// [Fraunces](https://fonts.google.com/specimen/Fraunces)
// - Weights: 700;